aiodns
aiohttp
aiosignal
async-timeout
attrs
bt
ccxt
certifi
cffi
chardet
charset-normalizer
colorama
cryptography
cycler
dateparser
decorator
ffn
fonttools
frozenlist
future
idna
joblib
kiwisolver
lxml
matplotlib
multidict
numpy
packaging
pandas
pandas-datareader
pandas-ta
Pillow
prettytable
pycares
pycparser
pyparsing
PyPrind
python-binance
python-dateutil
pytz
PyYAML
regex
requests
scikit-learn
scipy
six
tabulate
threadpoolctl
tradingview-ta
typing-extensions
tzlocal
ujson
urllib3
wcwidth
websockets
yarl
tensorflow-cpu
ccxtpro
seaborn
matplotlib
Pillow