aiohttp
async-timeout
attrs
certifi
chardet
charset-normalizer
colorama
dateparser
idna
multidict
python-binance
python-dateutil
pytz
PyYAML
#regex
requests
six
tradingview-ta
typing-extensions
tzlocal
ujson
urllib3
websockets
yarl
numpy
prettytable
bt
pandas-ta
regex
ccxt
ta-lib
